.home{
    display:flex;
    height: auto;
    color: white;
    justify-content: center;
}
.description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.hi{
    margin: 0;
    white-space: nowrap;
    width: 6ch;
    animation: typinghi 2s steps(6);
    overflow: hidden;
}

@keyframes typinghi {
    from {
      width: 0; /* Comienza con un ancho de 0 */
    }
  }


.name{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 4vw;
    animation-name: viewName;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0%;
}
@keyframes viewName {
   
  0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  
}

.profession{
    margin: 0;
    color: #03932D;
    animation-name: viewProfession;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    opacity: 0%;
}
@keyframes viewProfession {
   
    0% {
        opacity: 0; /* Opacidad inicial */
      }
      50% {
        opacity: 1; /* Opacidad media */
      }
      100% {
        opacity: 0; /* Opacidad final */
      }
}
.photo{
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    image-rendering: auto;
    border-radius:24px;
    animation-name: viewPhoto;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0%;

}
@keyframes viewPhoto {
   
  0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  
}

.icon-cards{
  display: flex;
  border: black solid; 
  align-items: center;
  width: max-content;
  max-height: 30px;
  border-radius: 16px;
  padding: 4px;
  background: rgb(6, 10, 20);
  margin-left: 32px;
  margin-top: 32px;
  color: white;
  animation-name: viewTag;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0%;
 
}
.icon-cards:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.itemHome{
    width: 24px;
    height: 24px;
}

.tagsHome{
    display: flex;
   flex-direction: column;
   margin-top: 70px;
   align-items: center;
   width: 50%;
}

@keyframes viewTag {
   
  0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  
}