.home{
    display:flex;
    height: 100vh;
    color: white;
    justify-content: center;
}
.description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    width: 40%;
}
.hi{
    margin: 0;
    white-space: nowrap;
    border-right:  4px solid;
    width: 6ch;
    animation: typinghi 3s steps(6), 
                blinkshi .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typinghi {
    from {
      width: 0; /* Comienza con un ancho de 0 */
    }
  }

@keyframes blinkshi {
    50% {border-color: transparent;}
}

.name{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 4vw;
    white-space: nowrap;
    border-right:  4px solid;
    width: 11ch;
    animation: typingname 3s steps(11), 
                blinksname .5s infinite step-end alternate;
    animation-delay: 3s;
    overflow: hidden;
}
@keyframes typingname {
    from {
      width: 0; /* Comienza con un ancho de 0 */
    }
  }

@keyframes blinksname {
    50% {border-color: transparent;}
}
.profession{
    margin: 0;
    color: #03932D;
    animation-name: viewProfession;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity: 0%;
}
@keyframes viewProfession {
   
    0% {
        opacity: 0; /* Opacidad inicial */
      }
      50% {
        opacity: 1; /* Opacidad media */
      }
      100% {
        opacity: 0; /* Opacidad final */
      }
}
.photo{
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    image-rendering: auto;
    border-radius:24px;

}


