.contact{
    height: auto;
    color: white;
    text-align: center;
}

.info{
    display: flex;
    justify-content:center;
    margin-top: 100px;
  
}

.info div{
    width: auto;
    padding: 12px;
    margin: 0 150px;
}

.iconContac{
    width: 36px;
    height: 36px;
}
.logoFollow{
    width: 32px;
    height: 32px;
    margin-left: 12px;
    border-radius: 12px;
}
.logoFollow:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}


.send{
    margin-top: 50px;
    opacity: 0%;
}

