
.container{
    height: auto;
    display: flex;
    padding-top: 50px;
    color: white;
    justify-content: center;
}

.container2{
    max-width: 40%;
    display:flex;
    flex-direction: column;

}

.aboutMe{
    margin-top: 0;
    font-size: 4vw;
    text-align: center;
}

.contenido {
    color: white;
    font-size:larger;
    margin-bottom: 0;
}

.detail{
    display: flex;
    flex-direction: column;
}
.detailName{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.education{
  align-items: center;
}
.education p {
    text-align: center;
}

.knowMore{
    display: flex;
    margin-bottom: 32px;
    justify-content: end;
    text-align: center;
    opacity: 0%;
}

/* .knowMore:hover{
    color: #03932D;
    text-decoration: underline;
    cursor: pointer;
} */
.icon{
    height: 16px;
    width: 16px;
    padding: 4px;
}

#titleEducation{
    background: #03932D;
}



.skills{
    width: auto;
    height: 60vh;
    margin-left: 8%;
    text-align: center;
    justify-content: center;
    font-size: 4vw;
}


.icon-cards__content{
  display: flex;
  border: black solid; 
  align-items: center;
  width: auto;
  max-height: 30px;
  border-radius: 16px;
  padding: 4px;
  background: rgb(6, 10, 20);
 
}
.icon-cards__content:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.item{
    width: 24px;
    height: 24px;
}
.textLogo{
    font-size:28px;
    margin:0;
    width: 100%;
}
.tags{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
}

@media (max-width: 640px) {

    .container{
        display: flex;
        flex-direction: column;
    
    }

    .container2{
        max-width: 100%;

    }
    .aboutMe{
        font-size: 6vw;  
    }

    .contenido {
        font-size:small;
        margin-left: 5%;
        margin-right: 5%
    }
    .skills{
        margin-left: 2%;
        margin-right: 5%;
        font-size: 6vw;
        height: auto;
        
    }
    .icon-cards__content{
        display: flex;
        border: black solid; 
        align-items: center;
        width: auto;
        max-height: 30px;
        border-radius: 16px;
        padding: 4px;
        background: rgb(6, 10, 20);
       
      }
      .item{
          width: 12px;
          height: 12px;
      }
      .textLogo{
          font-size:small;
          margin:0;
          width: 100%;
      }
      .tags{
        gap: 8px;
    }
}