.navbar{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background: rgb(15 23 42);
    color: blanchedalmond;
   
 
}

.navbar div{
    margin: 0 24px;
}
